.display-infor-container{
    .red{
        color: red;
      }
      
    .green{
        color: greenyellow;
      }
    img {
        width:  400px;
        height: 400px; 
    }
    .divider{
      width: 100%;
      height: 1px;
      background-color: black;
    }
}
